body{
color: black;
min-height: 100vh;
display: grid;
grid-template-rows:auto 1fr auto;
}
.fondo{
background-image: url(./img/fondocajanike.jpg); 
animation: imagenmove 6s infinite linear;
position: absolute;
}
@keyframes imagenmove {
    from {background-position: 0;}
    to{background-position: 720px;}
    }

*{
    margin: 0;
    padding: 0;
}
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 1350px; */ 
    width: 100%;
}
.logo{
    background-color: transparent;
}
h1{
    margin-right: 500px;
    display: inline-block;
    color: black;
}
h2{
    text-decoration: underline 2px;
    text-align: center;
}
.texto{
    text-align: center;
}
main div:hover{
    margin-top: 10px;
    transition: all 5s;
    /* width: 50px; */
    /* height: 50px; */
}
.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%; 
}
div nav ul{
    list-style-type: none;
}
div nav ul li{
    display: inline-block;
    margin: 0 10px;
}
div nav ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
}

span {
    display: none;
}

.zapatillas{
    padding: 0px;
    border: black solid 5px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 35%;

}
.video{
    border: black solid 10px;
    border-radius: 15px;
    margin-left: 200px;
}
.mapa{
    border: black solid 20px;
    border-radius: 10px;
    margin-left: 350px;
}
.tabla{
    border: black solid 1px;
    margin-left: 610px;
}
.formulario{
    border: black solid 3px;
    margin-top: 5%;
    padding: 1%;
}
.edad{
    margin-top: 5%;
    padding: 1%;
    font-size: 20px;
    text-decoration: underline;
}
.genero{
    margin-top: 5%;
    padding: 1%;
    font-size: 20px;
    text-decoration: underline;
}
footer{
    background-color: transparent;
    text-align: center;
    margin-top: auto;
    }
.redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding-top: 20px;
}
.redes__enlaces{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 100px;
    background-color: black;
    color: white;
    border-radius: 50px;
    }